/*HEADER NAVBAR*/

.navbar navbar-default navbar-fixed-top,
.container-fluid,
.collapse navbar-collapse,
ul,
li {
    height: 5em;
    cursor: pointer;
    color: white;
    display: inline;
}

.navbar navbar-default navbar-fixed-top,
.container-fluid,
.collapse navbar-collapse,
ul,
li:before {
    font-family: Seravek, arial, sans-serif;
    color: #f56508;
    margin: 0 5px 0 -15px;
}



.navbar navbar-default navbar-fixed-top,
.container-fluid,
.collapse navbar-collapse,
ul,
li,
.dropdown-menu,
li,
a {
    background: pink;
}


.navbar navbar-default navbar-fixed-top,
.container-fluid,
.collapse navbar-collapse,
ul,
li,
a img {
    height: 100%;
    width: auto;
}

.navbar {
    margin-bottom: 0;
    background-color: #ffffff;
    z-index: 9999;
    border: 0;
    font-size: 18px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Seravek, Montserrat, sans-serif;
    font-style: strong;
}

.navbar li a,
.navbar .navbar-brand {
    color: black !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #ffffff !important;
    background-color: #F26522 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}


/*CAROUSEL*/

.tales {
    width: 100%;
}

.carousel-inner {
    width: 100%;
    max-height: 600px !important;
}


/*ABOUT SECTION*/

.about-section,
h2 {
    font-family: helvetica, arial, sans-serif;
    color: black;
}

.about-section,
p {
    font-family: helvetica, arial, sans-serif;
    color: black;
}


/*BlOCK OF 6*/

.six-block,
.container-fluid text-center bg-grey,
.row text-center,
.col-sm-4,
h2 {
    font-family: helvetica, arial, sans-serif;
    color: black;
}

.six-block,
.container-fluid text-center bg-grey,
.row text-center,
.col-sm-4,
p {
    font-family: helvetica, arial, sans-serif;
    color: black;
}


/*VIDEO SECTION*/

.col-sm-8{
    margin: 0 auto;
}

.video-section, h2 {
    background-color: bisque;
    font-family: helvetica, arial, sans-serif;
    color: black;
}

.video-section, p {
    background-color: chartreuse;
    font-family: helvetica, arial, sans-serif;
    color: black;
}

.video-section, .video-link {
    background-color: aqua;
   
}
iframe{
    display:table;
}



.video-section,
container-fluid bg-grey,
.row,
.col-sm-4,
h2 {
    font-family: helvetica, arial, sans-serif;
    color: black;
}

.video-section,
container-fluid bg-grey,
.row,
.col-sm-4,
p {
    font-family: helvetica, arial, sans-serif;
    color: black;
}


/*Blocks of 2*/

.two-block,
.container-fluid,
.row,
.col-sm-6,
h3 {
    font-family: helvetica, arial, sans-serif;
    color: black;
}

.two-block,
.container-fluid,
.row,
.col-sm-6,
p {
    font-family: helvetica, arial, sans-serif;
    color: black;
}


/*FULL WIDTH IMAGE*/

.wrapper {
    display: inline-block;
    margin-top: 25px;
    position: relative;
}

.wrapper img {
    display: block;
    max-width: 100%;
}

.wrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}

.full-width-image,
.wrapper,
.overlay,
h2 {
    font-family: helvetica, arial, sans-serif;
    color: white;
}
